/* 
Preto     #000000
Branco    #FFFFFF
Cinza     #E5E5E5
Azul      #14213D
Amarelo   #FCA311 
*/

body {
    background-color: #E5E5E5;
    color: #14213D;
    font-size: large;
    height: 100%;
    /* min-width: 700px; */
}

/* Fim Body-------------------------------------------------------------------------------------------------------------------------------------*/
/* Inicio Header--------------------------------------------------------------------------------------------------------------------------------*/

.main-header{
    background-color: #df2828;
    height: 6%;
    display: flex;
    justify-content: space-between;
}

.menu-header {
    background-color: #FCA311;
    color: #14213D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    width: 18%;
}

.menu-header p {
    padding-left: 10px;
}

.search-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 1px;
    border-radius:15px;
    width:200px;

}

#txtBusca{
    margin-top: 10px;
    padding:10px;
    border:none;
    border-radius:20px;
    height:20px;
    width:30vw;
  }

.config-header{
    display: flex;
    justify-content: space-between;
}
/* Fim Header-----------------------------------------------------------------------------------------------------------------------------------*/
/* Inicio Section-------------------------------------------------------------------------------------------------------------------------------*/

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar{
    padding: 0 8px;
    width: 18%;
    background-color: #f0f1f3;
    color: #FCA311;
    height: 94%;
}

.sidebar img {
    width: 100px;
    border-radius: 100%;
    border-style: double;
    border-color: #FCA311;
    display: flex;
    justify-content: space-around;

}

.sidebar i {
    width: 20px;
    height: 10px;
}

.sidebar h3{
    display: block;
    font-size: 20px;
    margin-left: 5px;
}

.sidebar a{
    display: block;
    text-decoration: none;
    margin:8px 5px;
    font-size: 14px;
    color: #FCA311;
}

.sidebar a > svg{
    color: #FCA311;
}

.content{
    width: 84%;
    height: 100%;
    padding: 10px;

}