/* 
Preto     #000000
Branco    #FFFFFF
Cinza     #E5E5E5
Azul      #14213D
Amarelo   #FCA311 
*/

body {
    background-color: #E5E5E5;
    color: #14213D;
    font-size: large;
    height: 100vh;
    width: 100vw;
    /* min-width: 700px; */
}

/* Fim Body-------------------------------------------------------------------------------------------------------------------------------------*/
/* Inicio Header--------------------------------------------------------------------------------------------------------------------------------*/

.main-header{
    background-color: #df2828;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}

.menu-header {
    background-color: #FCA311;
    color: #14213D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    width: 18vw;
}

.menu-header a {
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.search-header {
    position: absolute;
    left: 18.5%;
    top: 0.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:solid 2px;
    border-radius:15px;
    padding:8px 6px 5px 0px;

}

#txtBusca{
    padding-left: 6px;
    background: none;   
    border:none;
    outline: none;color: #E5E5E5;
    font-size: 16px;
    line-height: 40px;
    border-radius:20px;
    height:20px;
    width:25vw;
    width: 0;
  }

  .search-header:hover > #txtBusca{
    width: 150px;
  }

.config-header{
    display: flex;
    justify-content: space-between;
}
/* Fim Header-----------------------------------------------------------------------------------------------------------------------------------*/
/* Inicio Section-------------------------------------------------------------------------------------------------------------------------------*/

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar{
    padding: 0 8px;
    width: 18vw;
    background-color: #f0f1f3;
    color: #FCA311;
    height: 94vh;
}

.sidebar img {
    width: 100px;
    border-radius: 100%;
    border-style: double;
    border-color: #FCA311;
    display: flex;
    justify-content: space-around;

}

.sidebar i {
    width: 20px;
    height: 10px;
}

.sidebar h3{
    display: block;
    font-size: 20px;
    margin-left: 5px;
}

.sidebar a{
    display: block;
    text-decoration: none;
    margin:8px 5px;
    font-size: 14px;
    color: #FCA311;
}

.sidebar a > svg{
    color: #FCA311;
}

.content{
    width: 84vw;
    height: 100vh;
    padding: 10px;

}